{% extends "base.html" %} 
{% load static staticfiles %}
{% block header%}
	<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
	  <a href="#activos" class="mdl-layout__tab is-active">Overview</a>
      <a href="#features" class="mdl-layout__tab">Features</a>
      <a href="{% url 'agregar-slider' %}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
        <i class="material-icons" role="presentation">add</i>
        <span class="visuallyhidden">Add</span>
      </a>
    </div>
{% endblock %}
{% block contenido %}
  
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="mdl-layout__tab-panel is-active" id="activos">
			<div class="mdl-grid demo-content">
				<div class="mdl-cell mdl-cell--12-col">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-full-width">
						<thead>
					    	<tr>
						    	<th class="mdl-data-table__cell--non-numeric">Nombre</th>
						    	<th>Categoria</th>
							    <th>Fecha Inicio</th>
							    <th>Fecha Fin</th>
							    <th>Imagen</th>
					    	</tr>
					  	</thead>
					  	<tbody>				    
						    {% for s in slider %}
						    <tr>
								<td class="mdl-data-table__cell--non-numeric">{{s.nombre}}</td>
								<td>{{s.categoria}}</td>
								<td>{{s.fecha_inicio|date:"d-m-Y"}}</td>
								<td>{{s.fecha_fin|date:"d-m-Y"}}</td>
								<td><img src="{{ s.imagen.url }}" alt="{{ s.nombre }}" width="120" /></td>
							</tr>
							{% endfor %}	   
					  	</tbody>
					</table>
				</div>	
			</div>
		</div>
	</main>
	<footer class="mdl-color--grey-100 mdl-layout--small-screen-only">
		<a href="{% url 'agregar-slider' %}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent mdl-bot" id="add">
            <i class="material-icons" role="presentation">add</i>
            <span class="visuallyhidden">Add</span>
      	</a>
	</footer>
{% endblock %}