{% extends "base.html" %} 

{% block header_adicional %}
	<title>Agregar Enlace</title>
{% endblock %}

{% block contenido %}
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="mdl-grid demo-content mdl-layout__tab-panel is-active">
			<form autocomplete="on"> 
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<input class="mdl-textfield__input" type="text" id="sample3" required="required" autofocus/> 
					<label class="mdl-textfield__label" for="sample3">Titulo</label>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="sample3" required="required"/>  
					<label class="mdl-textfield__label" for="sample3">Enlace personalizado</label>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3">Página</label>
					<select class="mdl-textfield__input" required="required">
						<option value="" selected="selected"></option>
					{% for p in pagina %}
						<option value="{{p.id}}">{{p.titulo}}</option>
					{% endfor %}
					</select>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3">Categoria de Producto</label>
					<select class="mdl-textfield__input" required="required">
						<option value="" selected="selected"></option>
					{% for c in categoria_producto %}
						<option value="{{c.id}}">{{c.nombre}}</option>
					{% endfor %}
					</select>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3">Categoria de entrada</label>
					<select class="mdl-textfield__input" required="required">
						<option value="" selected="selected"></option>
					{% for e in categoria_entrada %}
						<option value="{{e.id}}">{{e.nombre}}</option>
					{% endfor %}
					</select>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3">Menú</label>
					<select class="mdl-textfield__input" required="required">
						<option value="" selected="selected"></option>
					{% for m in menu %}
						<option value="{{m.id}}">{{m.nombre}}</option>
					{% endfor %}
					</select>
				</div>
				<br>
				<div class="signin button "> 
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
					  Agregar
					</button> 
				</div>
			</form>
		</div>	
	</main>
{% endblock %}