{% extends "base.html" %} 

{% block contenido %}
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="mdl-grid demo-content">
			<div class="mdl-layout-spacer"></div>
			<div class="mdl-cell mdl-cell--3-col">
				<form autocomplete="on" action="#"> 	
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
						<input class="mdl-textfield__input" type="text" name="titulo_sitio" id="id_titulo_sitio" maxlength="40" required="required"/> 
						<label class="mdl-textfield__label" for="sample3" for="sample3">Titulo del sitio</label>
					</div>
				<br>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
						<textarea class="mdl-textfield__input" type="text" rows= "3" name="descripcion_corta" id="id_descripcion_corta" maxlength="60" required="required"></textarea>
						<label class="mdl-textfield__label" for="sample3" for="sample5">Descripción corta..</label>
					</div>
				<br>
					<div class="signin button "> 
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
						  Agregar
						</button> 
					</div>		
				</form>
				<!--<div >
					<a href="/ajustes">
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
						  Cancelar
						</button>
					</a> 
				</div>-->
			</div>
			<div class="mdl-layout-spacer"></div>
		</div>
	</main>	
{% endblock %}