{% extends "base.html" %} 

{% load static staticfiles %}

{% block contenido %}
  <header class="mdl-layout--large-screen-only mdl-color--grey-100 ">
    <a href="/multimedia/agregar_multimedia" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent mdl-boton " id="add">
      <i class="material-icons" role="presentation">add</i>
      <span class="visuallyhidden">Add</span>
    </a>
  </header>
      
  <style type="text/css">
  .mdl-boton{
    margin-left: 90%;
    margin-top:-1px; 
  }
  </style>

	<main class="mdl-layout__content mdl-color--grey-100">
	<div class="mdl-grid demo-content">
		<div class="mdl-layout-spacer"></div>
		<div class="mdl-cell mdl-cell--8-col">
			<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
				<thead>
			    	<tr>
				    	<th class="mdl-data-table__cell--non-numeric">Titulo</th>
				    	<th>Tipo</th>
					    <th>Leyenda</th>
					    <th>Texto Alternativo</th>
					    <th>Fecha Publicación</th>
					    <th>Archivo</th>
			    	</tr>
			  	</thead>
			  	<tbody>				    
				    {% for m in multimedia %}
				    <tr>
						<td class="mdl-data-table__cell--non-numeric">{{m.titulo}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{m.tipo}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{m.leyenda}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{m.texto_alternativo}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{m.fecha_publicacion |date:"d-m-Y"}}</td>
						<td class="mdl-data-table__cell--non-numeric"><img src="{{ m.archivo.url }}" alt="{{ m.titulo }}" width="120" /></td>
					</tr>
					{% endfor %}	   
			  	</tbody>
			</table>
		</div>	
		<div class="mdl-layout-spacer"></div>
		</div>
	</main>
	<footer class="mdl-color--grey-100 mdl-layout--small-screen-only">
		<a href="/multimedia/agregar_multimedia" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent mdl-bot" id="add">
            <i class="material-icons" role="presentation">add</i>
            <span class="visuallyhidden">Add</span>
      	</a>
	</footer>
	<style type="text/css">
		.mdl-bot{
			margin-left: 85%;
			margin-bottom:10px;
		}
	</style>
{% endblock %}