{% extends "base.html" %} 

{% block header_adicional %}
	<title>Agregar Entrada</title>
{% endblock %}

{% block contenido %}
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="mdl-grid demo-content mdl-layout__tab-panel is-active">
			<form autocomplete="on"> 
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="sample3" required="required" autofocus/>
					<label class="mdl-textfield__label" for="sample3">Nombre de usuario</label>
				</div>
				<br>	
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<input class="mdl-textfield__input" type="text" id="sample3" required="required"/> 
					<label class="mdl-textfield__label" for="sample3">Titulo</label>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3">Categoria de la entrada</label>
					<select class="mdl-textfield__input" required="required">
						<option value="" selected="selected"></option>
					{% for c in categoria_entrada %}
						<option value="{{c.id}}">{{c.nombre}}</option>
					{% endfor %}
					</select>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3">Etiqueta de la entrada</label>
					<select class="mdl-textfield__input" required="required">
						<option value="" selected="selected"></option>
					{% for e in etiqueta_entrada %}
						<option value="{{e.id}}">{{e.nombre}}</option>
					{% endfor %}
					</select>
				</div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3">Comentario de la entrada</label>
					<select class="mdl-textfield__input" required="required">
						<option value="" selected="selected"></option>
					{% for d in comentario_entrada %}
						<option value="{{d.id}}">{{d.nombre}}</option>
					{% endfor %}
					</select>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<label class="mdl-textfield__label" for="sample3">Imagen</label>
					<input class="mdl-textfield__input" id="sample3" required="required" type="file" >
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3">Fecha Publicación</label>
					<input class="mdl-textfield__input" id="sample3" required="required" type="date"/> 
				</div>
				<br>
				<div class="signin button "> 
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
					  Agregar
					</button> 
				</div>
			</form>
		</div>
	</main>
{% endblock %}