{% extends "base.html" %} 

{% block css %} 

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style type="text/css">
		.material-icons.md-7 {
			font-size: 7em;
		}
		.material-icons.green--700{
			color: #388E3C;
		}
	
	</style>
{% endblock %}

{% block contenido %}
<main class="mdl-layout__content mdl-color--grey-100">
  	<div class="mdl-grid">
  		<div class="mdl-cell mdl-cell--12-col">
  			<div class="mdl-grid">
	  			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center ">
				    <a href="#" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--green-500 md-7 ">people</i>
				      <p>Usuarios</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="#" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">free_breakfast</i>
				      <p>Productos</p>
				    </a>
				</div>
  		<!--<div class="mdl-cell mdl-cell--12-col">	
	  	<div class="mdl-grid">
			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid ">
			    <a href="../entradas/" class="mdl-cell--12-col mdl-typography--text-center">
			      <i class="material-icons md-128 mdl-color-text--indigo-500">people</i>
			      <p>Usuarios</p>
			    </a>
			</div>
			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid ">
			    <a href="productos.html" class="mdl-cell--12-col mdl-typography--text-center">
			      <i class="material-icons md-128 mdl-color-text--indigo-500">free_breakfast</i>
			      <p>Productos</p>
			    </a>
			</div>
			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid ">
			    <a href="#" class="mdl-cell--12-col mdl-typography--text-center">
			      <i class="material-icons md-128 mdl-color-text--indigo-500">public</i>
			      <p>Páginas</p>
			    </a>
			</div>
			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid ">
			    <a href="#" class="mdl-cell--12-col mdl-typography--text-center">
			      <i class="material-icons md-128 mdl-color-text--indigo-500">insert_link</i>
			      <p>Enlaces</p>
			    </a>
			</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid ">
			    <a href="#" class="mdl-cell--12-col mdl-typography--text-center">
			      <i class="material-icons md-128 mdl-color-text--indigo-500">view_carousel</i>
			      <p>Sliders</p>
			    </a>
			</div>
			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid ">
			    <a href="#" class="mdl-cell--12-col mdl-typography--text-center">
			      <i class="material-icons md-128 mdl-color-text--indigo-500">music_video</i>
			      <p>Multimedia</p>
			    </a>
			</div>
			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid ">
			    <a href="#" class="mdl-cell--12-col mdl-typography--text-center">
			      <i class="material-icons md-128 mdl-color-text--indigo-500">build</i>
			      <p>Ajustes</p>
			    </a>
			</div>
			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-grid ">
			    <a href="#" onclick = "closeWindow();" class="mdl-cell--12-col mdl-typography--text-center">
			      <i class="material-icons md-128 mdl-color-text--indigo-500">power_settings_new</i>
			      <p>Salir</p>
			    </a>
			</div>
		</div>
		</div>-->
			</div>
		</div>
  	</div>			
</main>

<div class="jumbotron">
  <h1>Bienvenido !</h1>
  <p align="justify"><h4>En Campo Alegre Alimentos nos esforzamos día a día en el mejoramiento e innovación de nuestros productos, para que tú y tu familia disfruten de la gran calidad de nuestros productos, ¡por que una gran familia, merece una gran familia de productos!...</h4></p>
  <p><h4><a class="btn btn-primary btn-lg" href="#" role="button">Ver más...</a></h4></p>
</div>

{% endblock %}