{% extends "base.html" %} 

{% block css %} 
	<style type="text/css">
		.material-icons.md-7 {
			font-size: 7em;
		}
		.material-icons.green--700{
			color: #388E3C;
		}
	
	</style>
{% endblock %}

{% block contenido %}
<main class="mdl-layout__content mdl-color--grey-100">
  	<div class="mdl-grid">
  		<div class="mdl-cell mdl-cell--12-col">
  			<div class="mdl-grid">
	  			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center ">
				    <a href="/usuarios" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7 ">people</i>
				      <p>Usuarios</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="/productos" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">free_breakfast</i>
				      <p>Productos</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="/paginas" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">public</i>
				      <p>Paginas</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="/enlaces" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">insert_link</i>
				      <p>Enlaces</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="/sliders" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">view_carousel</i>
				      <p>Sliders</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="/multimedia" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">music_video</i>
				      <p>Multimedia</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="/ajustes" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">build</i>
				      <p>Ajustes</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="#" onclick = "closeWindow();" class="mdl-cell--12-col ">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">power_settings_new</i>
				      <p>Salir</p>
				    </a>
				</div>
			</div>
		</div>
  	</div>			
</main>
{% endblock %}