{% extends "base.html" %} 

{% block css %} 
	<style type="text/css">
		.material-icons.md-7 {
			font-size: 7em;
		}
		.material-icons.green--700{
			color: #388E3C;
		}
	</style>
{% endblock %}

{% block contenido %}
<main class="mdl-layout__content mdl-color--grey-100">
  	<div class="mdl-grid">
  		<div class="mdl-cell mdl-cell--12-col">
  			<div class="mdl-grid">
	  			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center ">
				    <a href="{% url 'menu-usuarios' %}" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7 ">people</i>
				      <p>USUARIOS</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="{% url 'menu-productos' %}" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">free_breakfast</i>
				      <p>PRODUCTOS</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="{% url 'menu-paginas' %}" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">public</i>
				      <p>PÁGINAS</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="{% url 'menu-enlaces' %}" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">insert_link</i>
				      <p>ENLACES</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="{% url 'menu-entradas' %}" class="mdl-cell--12-col ">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">web</i>
				      <p>ENTRADAS</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="/sliders" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">view_carousel</i>
				      <p>SLIDERS</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="{% url 'menu-multimedia' %}" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">music_video</i>
				      <p>MULTIMEDIAS</p>
				    </a>
				</div>
				<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-typography--text-center">
				    <a href="{% url 'menu-ajustes' %}" class="mdl-cell--12-col">
				      <i class="material-icons md-128 mdl-color-text--indigo-500 md-7">build</i>
				      <p>AJUSTES</p>
				    </a>
				</div>
			</div>
		</div>
  	</div>			
</main>
{% endblock %}