{% load static staticfiles %}
  	
    	<div class=" mdl-layout__header-row">
	       <figure>
				    <img src="{% static 'img/logo.png' %}">
			    </figure>
      		<span class="mdl-layout-title">CAMPO ALEGRE ALIMENTOS</span>
        	<div class="mdl-layout-spacer"></div>
          {% if user.is_authenticated %}
          <nav class="mdl-navigation">
          	<a class="mdl-navigation__link" href="{% url 'index' %}"><i class="material-icons" role="presentation">home</i> Inicio</a>
            <a class="mdl-navigation__link" href="/usuarios"><i class="material-icons" role="presentation">people</i> Clientes</a>
            <a class="mdl-navigation__link" href="/usuarios"><i class="material-icons" role="presentation">people</i> Empleados</a>
            <a class="mdl-navigation__link" href="/productos"><i class="material-icons" role="presentation">local_mall</i> Productos</a>
            <a class="mdl-navigation__link"><i class="material-icons" role="presentation">person_pin</i>   Bienvenido ... {{user.username}}</a>

          </nav>
          {% else %}
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{% url 'index' %}"><i class="material-icons" role="presentation">home</i> Iniciar sesión</a>
            
          </nav>
          {% endif %}
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row mdl-titulo">
        <h3 >{{page_title}}</h3>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
  	

  	