{% extends "base.html" %} 

{% block contenido %}
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="mdl-grid demo-content">
			<div class="mdl-layout-spacer"></div>
			<div class="mdl-cell mdl-cell--3-col">
				<form action="" method="post" id="login" role="form"> {% csrf_token %}
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
						<input  class="mdl-textfield__input" type="text" name="username" id="id_username" maxlength="254" required="required"/>
						<label class="mdl-textfield__label" for="sample3" >Nombre de usuario</label>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
						<input  class="mdl-textfield__input" name="password" id="id_password" required="required" type="password"/>
						<label class="mdl-textfield__label" for="sample3">Contraseña</label>
					</div>
					
					<div class="signin button "> 
						<a href="{% url 'index' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
						  Cancelar
						</a>
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
						  Iniciar Sesión
						</button> 
					</div>
				</form>
			</div>
			<div class="mdl-layout-spacer"></div>
		</div>
	</main>
{% endblock %} 