{% extends "base.html" %} 

{% block header_adicional %}
	<head>
		<title>Agregar Producto</title>
	</head>
{% endblock %}

{% block contenido %}
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="mdl-grid demo-content mdl-layout__tab-panel is-active">
			<form autocomplete="on"> 
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="sample3" required="required" autofocus/>
					<label class="mdl-textfield__label" for="sample3">Nombre de usuario</label>
				</div>
				<br>	
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<input class="mdl-textfield__input" type="text" id="sample3" required="required"/> 
					<label class="mdl-textfield__label" for="sample3" >Nombre del producto</label>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<input class="mdl-textfield__input" type="text" id="sample3" required="required"/> 
					<label class="mdl-textfield__label" for="sample3" >SKU</label>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<input class="mdl-textfield__input" type="text" id="sample3" required="required"/> 
					<label class="mdl-textfield__label" for="sample3" >Stock</label>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3" >Categoria del Producto</label>
					<select class="mdl-textfield__input" required="required">
						<option value="" selected="selected"></option>
					{% for c in categoria_producto %}
						<option value="{{c.id}}">{{c.nombre}}</option>
					{% endfor %}
					</select>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<label class="mdl-textfield__label" for="sample3" >Etiqueta del Producto</label>
					<select class="mdl-textfield__input" required="required">
						<option value="" selected="selected" ></option>
					{% for e in etiqueta_producto %}
						<option value="{{e.id}}">{{e.nombre}}</option>
					{% endfor %}
					</select>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" id="sample3" required="required" type="file" >
					<label class="mdl-textfield__label" for="sample3">Imagen</label>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
					<input class="mdl-textfield__input" id="sample3" required="required" type="date"/>
					<label class="mdl-textfield__label" for="sample3" >Fecha Publicación</label>
				</div>
				<br>
				<div class="signin button "> 
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
					  Agregar
					</button> 
				</div>
			</form>
		</div>	
	</main>
{% endblock %}